.dark { color-scheme:dark; }
.light { color-scheme:light; }

/* Manager overrides */
#root > div { color-scheme:inherit;}
.sb-bar { background-color:light-dark(#fff,#081629) !important; border-bottom:1px solid light-dark(rgba(0,0,0,0.1),rgba(255,255,255,0.2)); }
.container.sidebar-container { background-color:light-dark(#fff,#0c2340); }
#sb-preview-toolbar { background-color:light-dark(#f2f2f2,#0c2340); }

/* Sidebar overrides */
.sidebar-header a { padding:0; margin:0; }
#storybook-explorer-menu .sidebar-item a,
#storybook-explorer-menu .sidebar-item button { color:light-dark(#333,#fff); }

#storybook-explorer-menu .sidebar-item:not([data-selected="true"])[data-nodetype="component"]{ background-color:transparent; }
#storybook-explorer-tree .sidebar-item:not([data-selected="true"])[data-nodetype="component"]:hover { background-color:light-dark(rgba(0,0,0,0.1),rgba(255,255,255,0.2)); }
#storybook-explorer-tree .sidebar-item[data-selected="true"] { background-color:light-dark(rgba(0,0,0,0.1),rgba(255,255,255,0.2)); }
#storybook-explorer-tree .sidebar-item:hover { color:light-dark(#333,#fff); background-color:light-dark(rgba(0,0,0,0.1),rgba(255,255,255,0.1)); }
#storybook-explorer-tree .sidebar-item svg { color:#ae9142; }
#storybook-explorer-tree .sidebar-item[data-nodetype="document"] svg { color:light-dark(#0c2340,#ccc); }

#sidebar-bottom-wrapper { --sb-sidebar-bottom-card-box-shadow:none; }

/* Preview overrides */
.sbdocs.sbdocs-preview, .sb-show-main .sbdocs-wrapper { background-color:transparent; }
.sb-show-main .sbdocs-wrapper { padding-inline:5vw; }
.sbdocs.sbdocs-preview { border-color:light-dark(rgba(0,0,0,0.1),rgba(255,255,255,0.2)); box-shadow:light-dark(rgba(0, 0, 0, 0.05),rgba(28,79,143,0.2)) 0px 1px 8px 0px; }
.sbdocs.sbdocs-content { max-width:none; }
.sbdocs-content .sbdocs-title { font-family:var(--font-heading); font-weight: 400; font-size:clamp(2.5rem,3.5vw + 1rem,3.5rem); color:light-dark(var(--brand-blue),white) }
.sb-section-title { border-bottom:1px solid light-dark(var(--gray-extra-light),var(--brand-blue-light)); padding-bottom:1em; margin-bottom:3em; }
.sbdocs-wrapper .sbdocs-a { color:light-dark(var(--link-blue), var(--brand-gold-light)); }
.sbdocs-wrapper .sbdocs-a:hover, .sbdocs-wrapper .sbdocs-a:focus { color:light-dark(var(--brand-blue-bright), var(--brand-gold-bright)); }

.code-example { margin-block-end:2rem; padding:2rem; border:1px solid light-dark(var(--gray-extra-light),var(--brand-blue-light)); }
.code-example:has( + pre ) { border-bottom:0; }
.code-example + pre { margin-top:0; }
.code-example p { margin-bottom:0; }
.code-example--grid .grid > * { background-color:light-dark(var(--gray-extra-light),var(--brand-blue-light)); padding:1rem 2rem; }

.docblock-source.sb-unstyled { margin-top:0; background-color:#f9f9f9; border-radius:0; border:1px solid #eee; border-top:0; box-shadow:none; }
.sbdocs-wrapper p > code, .sb-docs-wrapper li > code { vertical-align:text-bottom; }

/* Tables */
.docblock-argstable-head {
  tr { border:none; }
  th { background-color:#ddd; color:#fff; }
}

/* Typography */
.preview--garamond p { font-family:var(--font-heading); line-height:1.3; font-size:1.5rem; }
.preview--gp p { font-family:var(--font-default); line-height:1.65; font-size:1.325rem; }

/* Changelog */
.list--logs {
  .log-item { margin-block-end:2rem; padding-block-end:2rem; border-bottom:var(--border-primary); 
    ul { list-style:disc; margin-block:0; }
  }
  .log-date { color:light-dark(var(--brand-blue-light),var(--sky-blue)); margin-block-end:0; text-transform:uppercase; font-size:0.9rem; }
}

/* TOC */
.toc-wrapper .toc-list .toc-list-item > a,
.toc-wrapper .toc-list .toc-list-item > a:visited { color:light-dark(var(--brand-blue), var(--gray-extra-extra-light)); }
.toc-wrapper .toc-list .toc-list-item > a.is-active-link { color:light-dark(var(--brand-blue-bright), var(--brand-gold-bright)); }

/* Colors */
.swatch-list li { font-size:0.9rem; margin-block-end:1rem;}
.swatch-list li dt { font-size:0.9rem; }
.swatch { aspect-ratio:2/1; display:block; width:100%; margin-bottom:0.5rem; border-radius:var(--border-radius); border:1px solid light-dark(transparent,rgba(255,255,255,0.2)); }
.swatch--small { display:inline-block; height:1rem; width:1rem; vertical-align:middle; margin-bottom:5px; margin-right:0.25rem; border-radius:2px; border:1px solid light-dark(transparent,rgba(255,255,255,0.2)); }
.swatch--white { background-color:#FFF; outline:1px solid #efefef; }
.swatch--black { background-color:#000; }
.swatch--brand-blue { background-color:var(--brand-blue); }
.swatch--brand-blue-light { background-color:var(--brand-blue-light); }
.swatch--brand-blue-bright { background-color:var(--brand-blue-bright); }
.swatch--brand-blue-dark { background-color:var(--brand-blue-dark); }
.swatch--brand-gold { background-color:var(--brand-gold); }
.swatch--brand-gold-light { background-color:var(--brand-gold-light); }
.swatch--brand-gold-bright { background-color:var(--brand-gold-bright); }
.swatch--brand-gold-dark { background-color:var(--brand-gold-dark); }
.swatch--sky-blue { background-color:var(--sky-blue); }
.swatch--sky-blue-light { background-color:var(--sky-blue-light); }
.swatch--sky-blue-dark { background-color:var(--sky-blue-dark); }
.swatch--brand-green { background-color:var(--brand-green); }
.swatch--brand-green-bright { background-color:var(--brand-green-bright); }
.swatch--brand-green-dark { background-color:var(--brand-green-dark); }
.swatch--warm-white { background-color:var(--warm-white); }
.swatch--warm-white-dark { background-color:var(--warm-white-dark); }
.swatch--gray { background-color:var(--gray); }
.swatch--gray-dark { background-color:var(--gray-dark); }
.swatch--gray-light { background-color:var(--gray-light); }
.swatch--gray-extra-light { background-color:var(--gray-extra-light); }
.swatch--gray-extra-extra-light { background-color:var(--gray-extra-extra-light); }

.swatch--dark-mode-light { background-color:color-mix(in srgb, var(--brand-blue), black 15%); }
.swatch--dark-mode-dark { background-color:color-mix(in srgb, var(--brand-blue-light), black 10%); }

/* Thumbs */
.thumb-list { margin-block-end:3rem; }
.thumb-list li { font-size:0.9rem; }
.thumb-list li a { text-decoration:none; color:light-dark(var(--brand-blue),var(--gray-extra-extra-light)); }
.thumb { background-color:light-dark(var(--sky-blue-light),var(--brand-blue)); aspect-ratio:2/1; display:block; width:100%; margin-bottom:0.5rem; border-radius:var(--border-radius); border:1px solid light-dark(transparent,rgba(255,255,255,0.2)); object-fit:cover; transition:background-color var(--anim-duration-fast) var(--anim-ease); }
.thumb-list li a:hover .thumb { background-color:light-dark(var(--sky-blue),var(--brand-blue-light));}

/* Icons */
.icon-showcase { display:grid; grid-template-columns:repeat(auto-fill, minmax(120px, 1fr)); gap:1rem;
  .icon { margin-bottom:0.5rem; }
}
.icon-item { display:flex; flex-direction:column; align-items:center; justify-content:center; padding:1rem; border:1px solid #ddd; border-radius:3px; width:120px; min-height:120px; text-align:center; }
.icon-name { font-size:0.8rem; line-height:1.2em; color:#666; max-width:100%; }


.sticker-showcase { display:grid; grid-template-columns:repeat(auto-fill, minmax(120px, 1fr)); gap:1rem;
  .sticker { margin-bottom:0.5rem; }
}
.sticker-item { display:flex; flex-direction:column; align-items:center; justify-content:center; padding:1rem; border:1px solid #ddd; border-radius:3px; width:120px; min-height:120px; text-align:center; }
.sticker-name { font-size:0.8rem; line-height:1.2em; color:#666; max-width:100%; }